.row{
    mat-form-field{
        width: 100%;
    }
}

.content{
    padding-top: 5px;
}

.button1{
    padding: 0px 40px 0px 25px;
    // justify-content: space-between;
    button{
        flex: 1;
    }
}


